PORT = "" //Server port
DB_CONNECTION_STRING=""  // Mongo DB Connection string
AUTH_SECRET_KEY="" // Secret Key for jwt token
AUTH_TOKEN_EXPIRY_TIME = "" // token expiry time
BASE_URL = "" // Server Base URL