.profile-photo{
    height: 13rem !important;
    width: 13rem !important;
    border-radius: 100% !important;
    margin-top: 8px;
}

.edit-icon{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 27rem;
    right: 19.5rem;
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
}

.profile{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;
}